<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
 </div>
<h2></h2>
<div *ngIf="!mostrarResultado" class="col-12 col-md-offset-2">
        <div class="form-group">
          <label for="email">Ingrese número:</label>
          <input [readonly]="nuevoJuego.numeroSecreto == 0" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:70%"/>
        </div>
        <button mat-raised-button *ngIf="nuevoJuego.numeroSecreto == 0" style="width:70%"  (click)="generarnumero()" >Nuevo numero secreto</button>
        <button mat-raised-button *ngIf="nuevoJuego.numeroSecreto != 0" style="width:70%;margin-top:10px"  (click)="verificar()" color="accent">Verificar</button>
        <h2 *ngIf="nuevoJuego.numeroSecreto != 0"><p><i style="font-size:25px;color: red;" class="fa fa-spinner fa-spin"></i> Esperando que ingrese un número</p></h2>
      </div>

      <div *ngIf="mostrarResultado" class="col-12 col-md-offset-2">
        <div class="form-group">
          <label for="email">Intentos: {{ contadorResult }}</label>
        </div>
        <div class="form-group">
          <label for="email">Ganaste: {{ result }}</label>
        </div>
        <button mat-raised-button *ngIf="nuevoJuego.numeroSecreto == 0" style="width:70%"  (click)="generarnumero()" >Nuevo numero secreto</button>
      </div>
<div id="snackbar">{{Mensajes}}</div>